<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
    <span>{{post_title}}</span>
  </div>
  <div class="meta">
    Posted by
    {{user.username}}
    at
    {{format_date created_at}}
    |
    <h3 class="fs-5">{{comments.length}}
      {{format_plural "comment" comments.length}}</h3>
  </div>
</article>